html {
  background: rgb(0, 214, 0);
}
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 40px;
  padding: 40px;
  color: rgb(7, 7, 7);
  border: 10px solid green;
  background-color: white;
}
h1 {
  font-size: 3em;
  margin: 0;
}

p {
  line-height: 1.5em;
  width: 800px;
}
nav {
  position: sticky;
  top: 0;
  background: green;
  padding: 5px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  font-size: 22px;
  list-style: none;
}

a[href="./about.html"],
a[href="./index.html"],
a[href="./contact.html"] {
  color: white;
}

time {
  display: block;
}

.image-div {
  float: left;
  margin-right: 5px;
  width: 200px;
}

.image-div img {
  width: 100%;
}

#blog {
  border-top: 2px solid rgb(7, 7, 7);
}

.blog-post {
  border-bottom: 2px solid rgb(7, 7, 7);
}
table {
  width: 50%;
  border-collapse: collapse;
}
table,
th,
td {
  text-align: left;
  border: solid 2px rgb(7, 7, 7);
}

.text-input {
  border: solid 1.5px rgb(7, 7, 7);
  border-radius: 4px;
  margin-right: 10px;
}

.submit {
  color: rgb(0, 214, 0);
  background: white;
  border: solid 2px rgb(0, 214, 0);
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.name-email {
  display: flex;
}
